#detail{
	margin-top: 70px;
	h1{
		text-transform: uppercase;
		margin: 0;
		color: #7f0000;
	}
	.image-cont{
		border: 1px solid #7f0000;
	}
	.features{
		margin-top:35px;
		li{
      text-align:center;
      margin-right: 20px;
      i{
      	font-size: 25px;
      }
		}
	}
}