#home{
  margin-top: 70px;
  h1{
    text-align: center;
  }
	.slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .car-brick{
  	width  : 23%;
  	margin : 0 1%;
  	cursor : pointer; 
  	img{
  		width: 100%;
  	}
  	h4{
      text-transform: uppercase;
      color: #7f0000;
      font-size: 16px;
    }
  }
  .input-group{
    width: 100%;
    input{
      border: 2px solid #7f0000;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 100%;
      z-index: 11;
    }
  }
  .searchresults{
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    .car-brick{
      width  : 31.3333333%;
    }
    h4{
      font-size: 16px;
    }
  }

  @media (max-width: $screen-xs) {
    .car-brick{
      width  : 98%;
    }
  }
}