$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding:0;
  margin:0;
}

.bold{
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
  background-color: #000;
  .list-inline{
    position: relative;
    top: 10px;
    a{
      color: #fff;
      text-decoration: none;
    }
    .logo{
      font-size: 30px;
      text-transform: uppercase;
      color: #7f0000;
      span{
        font-size: 35px;
        margin-right: 10px;
      }
    }
  }
  .input-group{
    float: right;
    margin-top: 9px;
    width: 100%;
    input{
      border: 2px solid #7f0000;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 100%;
      z-index: 11;
    }
  }
  .menu{
    .pull-left{
      width: 45%;
      img{
        width: 95%;
      }
    }
    .pull-right{
      width: 55%;
      p{
        color: #000;
        margin: 0;
        &:first-child{
          margin-top: 10px;
        }
      }
    }
  }
}

.searchresults{
  width: 100%;
  position: absolute;
  background: #fff;
  border: 2px solid #7f0000;
  border-top: none;
  top: 32px;
  z-index: 10;
}

@import "home";
@import "detail";
@import "compare";

@media (max-width: $screen-xs) {
  .letters{
    display: none;
  }
}