<div id="compare" class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{{carsObj.carOne[0].img}}" alt="" width="100%">
			<hr>
			<h1>{{carsObj.carOne[0].brand}} {{carsObj.carOne[0].model}} | {{carsObj.carOne[0].year}}</h1>
			<P>PRICE: {{carsObj.carOne[0].price | currency:"$":0}}</P>
		  <h4>FEATURES</h4>
		  <ul class="list-inline features">
				<li>
					<i class="fa fa-tachometer"></i>
					<p class="bold">TOP SPEED: {{carsObj.carOne[0].features.maxSpeed}} {{carsObj.carOne[0].features.unit}}</p>
				</li>
				<li>
					<i class="fa fa-bolt"></i>
					<p class="bold">HP: {{carsObj.carOne[0].features.hp}}</p>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<p class="bold">CC: {{carsObj.carOne[0].features.cc}}</p>
				</li>
				<li>
					<i class="fa fa-money"></i>
					<p class="bold">ECONOMY: {{carsObj.carOne[0].features.economy}}</p>
				</li>
			</ul>
	  </div>
	  <div class="col-md-6">
	  	<img src="{{carsObj.carTwo[0].img}}" alt="" width="100%">
	  	<hr>
      <h1>{{carsObj.carTwo[0].brand}} {{carsObj.carTwo[0].model}} | {{carsObj.carTwo[0].year}}</h1>
			<P>PRICE: {{carsObj.carTwo[0].price | currency:"$":0}}</P>
		  <h4>FEATURES</h4>
			<ul class="list-inline features">
				<li>
					<i class="fa fa-tachometer"></i>
					<p class="bold">TOP SPEED: {{carsObj.carTwo[0].features.maxSpeed}} {{carsObj.carTwo[0].features.unit}}</p>
				</li>
				<li>
					<i class="fa fa-bolt"></i>
					<p class="bold">HP: {{carsObj.carTwo[0].features.hp}}</p>
				</li>
				<li>
					<i class="fa fa-cogs"></i>
					<p class="bold">CC: {{carsObj.carTwo[0].features.cc}}</p>
				</li>
				<li>
					<i class="fa fa-money"></i>
					<p class="bold">ECONOMY: {{carsObj.carTwo[0].features.economy}}</p>
				</li>
			</ul>	
	  </div>
	</div>
</div>

