<div id="detail">
	<div class="container">
		<div class="row">
			<div class="col-md-5 image-cont">
				<img src="{{car.img}}" alt="" width="100%">
			</div>
			<div class="col-md-7">
				<h1>{{car.brand}} {{car.model}}</h1>
				<h3>Year: {{car.year}} - Price: {{car.price | currency:"$":0}}</h3>
				<p>{{car.desc}}</p>
				<ul class="list-inline features">
					<li>
						<i class="fa fa-tachometer"></i>
						<p class="bold">TOP SPEED: {{car.features.maxSpeed}} {{car.features.unit}}</p>
					</li>
					<li>
						<i class="fa fa-bolt"></i>
						<p class="bold">HP: {{car.features.hp}}</p>
					</li>
					<li>
						<i class="fa fa-cogs"></i>
						<p class="bold">CC: {{car.features.cc}}</p>
					</li>
					<li>
						<i class="fa fa-money"></i>
						<p class="bold">ECONOMY: {{car.features.economy}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
