<div class="input-group">
  <input type="text" class="form-control" placeholder="{{placeHolder}}" ng-model="searchOpts">
  <div class="searchresults">
    <div ng-repeat="result in results">
      <span ng-if="compare == 'false'" class="menu">
        <a href="#/detail/{{result.id}}" ng-click="clean()">
          <div class="clearfix">
            <div class="pull-left">
              <img ng-src="{{result.img}}" alt="">
            </div>
            <div class="pull-right">
              <p>{{result.brand}}</p>
              <p>{{result.model}}</p>
            </div>
          </div>
        </a>
      </span>
      <span ng-if="compare == 'true'">
        <a href="#/compare/{{result.id}}/{{currentCar}}" ng-click="clean()">
          <img ng-src="{{result.img}}" alt="" width="100px">
          <p>{{result.brand}}</p>
          <p>{{result.model}}</p>
        </a>
      </span>
    </div> 
  </div>
</div>
