<!--<div id="home">
  <slick dots=true infinite=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1 autoplay=true arrows=true>
    <div><img src="images/slider/bugatti.jpg" alt="" width="100%"></div>
    <div><img src="images/slider/bugatti.jpg" alt="" width="100%"></div>
    <div><img src="images/slider/bugatti.jpg" alt="" width="100%"></div>
    <div><img src="images/slider/bugatti.jpg" alt="" width="100%"></div>
  </slick>-->
<div id="home">
  <h1>CAR INDEX</h1>
  <div masonry>
      <div class="masonry-brick car-brick" ng-repeat="car in carList">
      <span ng-click="detail('/detail/{{car.id}}')">
        <img ng-src="{{car.img}}" alt="{{car.brand}} {{car.model}}">
        <h4>{{car.brand}} {{car.model}}</h4>
        <p><span class="bold">Year:</span> {{car.year}}</p>
        <p><span class="bold">Price:</span> {{car.price | currency:"$":0}}</p>
      </span>
      <finder place-holder="Compare with.." compare="true" current-car="{{car.id}}"></finder>
    </div>
  </div>
</div>