<div class="header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="col-md-9 col-sm-9 col-xs-3">
        <ul class="list-inline">
          <li>
            <a class="logo" href="#/"><span class="glyphicon glyphicon-king" aria-hidden="true"></span><span class="letters">luxury</span></a>
          </li>
          <li>
            <a href="#/">Home</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-9">
        <finder place-holder="Find your car" compare="false"></finder>
      </div>
    </div>
  </div>
</div>